/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: #fafafa;
  font-size: 18px;
  color: #1F2937;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

/* ---------------------------------------------------------------------------- */

.__container {
  padding: 0 8rem;
  position: relative;
  z-index: 2;
  flex-grow: 1;
}

.wrapper {
}


.header {
  background-color: #1F2937;
  color: #F9FAF8;
}

.nav { 
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.nav__links {
  display: flex;
  gap: 1rem;
  text-transform: lowercase;
}

.nav__links_item {
  font-size: 18px;
  color: #E5E7EB;
}


/* ///////////////// Hero ///////////// */
.hero {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  padding-bottom: 8rem;
  height: 500px;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.hero__info_label {
  font-size: 48px;
  font-weight: bold;
  color: #E5E7EB;
  width: 700px;
}

.hero__info_text {
  font-size: 18px;
  color: #E5E7EB;
  width: 700px;
}

.hero__img{
  width: 50%;
  overflow: hidden;
}

.hero__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.button {
  padding: 10px 35px;
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: bold;
  border-radius: 10px;
  width: 150px;
}
