/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: #fafafa;
  font-size: 18px;
  color: #1F2937;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

/* ---------------------------------------------------------------------------- */

.__container {
  padding: 0 12rem;
  position: relative;
  z-index: 2;
  flex-grow: 1;
}

.header {
  background-color: #1F2937;
  color: #F9FAF8;
}

.nav { 
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.nav__links {
  display: flex;
  gap: 1rem;
  text-transform: lowercase;
}




.nav__links_item {
  font-size: 18px;
  color: #E5E7EB;
  transition: .2s;

}

.nav__links_item:hover {
  color: #a8b4cb;
}

/* ///////////////// Hero ///////////// */
.hero {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  padding-bottom: 8rem;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
}

.hero__info_label {
  font-size: 48px;
  font-weight: bold;
  color: #E5E7EB;
  max-width: 700px;
}

.hero__info_text {
  font-size: 18px;
  color: #E5E7EB;
  max-width: 700px;
}

.hero__img{
  width: 50%;
  overflow: hidden;
}

.hero__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.button {
  padding: 10px 35px;
  background-color: #477fdb;
  color: #E5E7EB;
  font-weight: bold;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  opacity: .9;
  transition: .3s;
}

.button:hover {
  background-color: #0062ff;
  opacity: 1;
}

.button-sign-up {
  border: 2px solid #E5E7EB;
}

/* /////////// Cats //////////////// */

.info__container {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.info__label {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.cats {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  gap: 3rem;
}


/* ///////// Cats item ////////// */
.cats__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  text-align: center;
  justify-content: center;
}

.cats__item_img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 25px;
}
.cats__item_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cats__item_label {
  font-weight: bold;
  font-size: 24px;
  color: #1F2937;
}

.cats__item_text {
  font-size: 18px;
}

/* //////////////// Quote ////////////// */

.quote {
  margin-top: 8rem;
  background-color: #E5E7EB;
  padding: 7rem 0;
  align-items: centr;
}

.quote__content {
  margin: 0 auto;
  display: flex;  
  flex-direction: column;

  max-width: 700px;

}

.quote__content_text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
}

.quote__content_author {
  font-size: 36px;
  font-weight: bolder;
  align-self: end;
}

/* ///////////////////// Sign up /////////// */

.sign-up {
  margin-top: 7rem;
}

.sign-up__content {
  margin-top: 4rem;
  padding: 5rem 7rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  background-color: #3882F6;
  border-radius: 15px;
  color: #E5E7EB;
}


.sign-up__body {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.sign-up__body_label {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

/* ///////////// Footer /////////////// */

.footer {
  margin-top: 7rem;
  background-color: #1F2937;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  color: #E5E7EB;
}

/* ///////////////// Adaptive ///////////// */

@media (max-width: 1440px) {
  .__container {
    padding: 0 7rem;
  }
}
@media (max-width: 768px) {
  .__container {
    padding: 0 3rem;
  }

  .nav__links {
    display: none;
  }

  /* ///////////////// Hero ///////////// */
  .hero__info {
    width: 100%;
    margin: 0 auto;
  }

  .hero__info_label {
    width: 100%;
  }

  .hero__img{
    display: none;
  }

  /* ///////////////////// Sign up /////////// */

  .sign-up {
    margin-top: 5rem;
  }

  .sign-up__content {
    margin-top: 4rem;
    padding: 2rem;
    flex-wrap: wrap;
  }


  .sign-up__body {
    gap: .5rem;
  }

  .sign-up__body_label {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .__container {
    padding: 0 1rem;
  }
}